.App {
}

.card {
  text-align: left;
}
.card .card-title {
  font-size: 18px;
  margin-bottom: 0;
  line-height: 1;
}

.card .card-image img {
  height: 370px;
}

.card .card-btn {
  display: block;
  margin-top: 20px;
}

.modal-wrapper {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #00000080;
}

.modal-main.modal.display-block {
  display: block;
  z-index: 99;
  width: 90%;
  max-width: 650px;
  min-height: 480px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 22px;
  padding: 20px;
  font-size: 16px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.close-modal {
  position: absolute;
  top: 5px;
  right: 10px;
}

@media (max-width: 640px) {
  .modal-image {
    width: 100%;
  }

  .modal-main.modal.display-block {
    display: flex;
    flex-flow: column;
    width: 100%;
    min-height: 100%;
    top: 0;
    overflow: scroll;
  }
}
